[submodule "Documentation/ppt"]
	path = Documentation/ppt
	url = https://github.com/KDI-2023/ppt.git
[submodule "Ontology/ontology"]
	path = Ontology/ontology
	url = https://github.com/KDI-2023/ontology.git
[submodule "Information Gathering/testdb"]
	path = Information Gathering/testdb
	url = https://github.com/KDI-2023/testdb.git
[submodule "Knowledge Graph/execql"]
	path = Knowledge Graph/execql
	url = https://github.com/KDI-2023/execql.git
[submodule "Knowledge Graph/mkcql"]
	path = Knowledge Graph/mkcql
	url = https://github.com/KDI-2023/mkcql.git
[submodule "Web Page/viewer"]
	path = Web Page/viewer
	url = https://github.com/KDI-2023/viewer.git
